.sub-board-item {
    display: flex;
    justify-content: center;
    align-content: center;
    flex: 1 0 30%;
    height: 240px;
    border: 1px dashed grey;
}

.tile {
    padding: 17px;
    width: 15%;
    height: 15%;
    border: 1px solid grey;
    display: flex;
    justify-content: center;
    align-items: center;
}

.active-board {
    background: #c8ffc2;
}

.tile:hover {
    background: #f1e8e8;
}

.hover-disabled {
    pointer-events: none;
}

.sub-board-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    padding: 27px 47px;
}

.big-logo {
    position: absolute;
    z-index: 2;
}

.x-board-color {
    background: #eca5a4;
}

.o-board-color {
    background: #aadeef;
}